

# Security
.env

# Database Data (Ignore isinya, tapi simpan folder via .gitkeep)
pgdata/*
!pgdata/.gitkeep

# OS & Editor
.DS_Store
.vscode/

# 4. Binary Go (Hasil Build)
go-finance
go-finance.exe
# Artifacts and Temporaries
test_output.txt
task-auth.md
task-refactor.md
task-refactor-auth.md
.agent/