# --- .gitignore ---

# 1. Folder Database (WAJIB)
pgdata/
mysql_data/

# 2. File Environment (RAHASIA)
.env

# 3. File System / IDE
.DS_Store
.vscode/
.idea/

# 4. Binary Go (Hasil Build)
go-finance
go-finance.exe