services:
  # --- Service 1: Aplikasi Golang Kita ---
  backend:
    build: .                 # Dockerfile ada di folder ini (.)
    ports:
      - "8080:8080"          # Laptop:Container
    environment:
      - APP_PORT=8080
      - DB_HOST=db_finance   # NAMA SERVICE DB DI BAWAH (Penting!)
      - DB_USER=${POSTGRES_USER}
      - DB_PASS=${POSTGRES_PASSWORD}
      - DB_NAME=${POSTGRES_DB}
    depends_on:
      - db_finance           # Tunggu DB nyala dulu

  # --- Service 2: Database PostgreSQL ---
  db_finance:
    image: postgres:15-alpine
    restart: always
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    ports:
      - "5432:5432"          # Dibuka biar bisa dicek pake DBeaver/TablePlus
    volumes:
      - ./pgdata:/var/lib/postgresql/data  # BIAR DATA GAK ILANG PAS DI-RESTART