version: '3.8'

services:
  # --- Service 1: Aplikasi Golang Kita ---
  backend:
    build: .
    container_name: go_backend_app # Biar nama containernya enak dibaca
    ports:
      - "8081:8080"
    environment:
      - APP_PORT=:8080
      - DB_HOST=db_finance
      - DB_PORT=5432                 # <--- TAMBAHAN: Wajib ada biar main.go gak bingung
      - DB_USER=${POSTGRES_USER}
      - DB_PASSWORD=${POSTGRES_PASSWORD} # <--- KOREKSI: Harus "DB_PASSWORD", bukan "DB_PASS"
      - DB_NAME=${POSTGRES_DB}
      - JWT_SECRET=${JWT_SECRET}     # <--- CRITICAL: JWT Secret for authentication
    depends_on:
      - db_finance

  # --- Service 2: Database PostgreSQL ---
  db_finance:
    image: postgres:15-alpine
    container_name: pg_db_finance
    restart: always
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    ports:
      - "5432:5432"
    volumes:
      # Pake relative path (./pgdata) gapapa buat belajar.
      # TAPI pastikan folder ini dimasukin ke .gitignore!
      - ./pgdata:/var/lib/postgresql/data